body {
	background: linear-gradient(-45deg, #300b7b, #4e4cbc, #7777d6, #13024a);
	background-size: 400% 400%;
	animation: gradient 4s ease infinite;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.app {

  margin-left: 5%;
  margin-right: 5%;
}
h1, h2, h3 {
  text-shadow: 1px 1px 1px white;
}
img {
  height: 25vh;
  position: relative;
  animation-name: drive;
  animation-duration: 15s;
  animation-direction:alternate;
  animation-iteration-count: 100;
  
}

@keyframes drive {
  0% {left: 100px; top: 0px}
  25% {left: 0px; top: 0px}
  50% {left: -100px; top: 0px}
  75% {left: 0px; top: 0px}
  100% {left: 100px; top: 0px}
}

footer {
  font-size: 0.7rem;
  color: white;
  text-shadow: 2px 3px 1px black;
  box-shadow: 2px 1.5px 1px 1px black;
}